@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #87CEFA;
}
.logo {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
  }
  
 
  .logo img {
    max-width: 100px;
  }

.formRegistro {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 20px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 1px;
}

.formRegistro h1 {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 1.8em;
}

.formRegistro p {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.formRegistro input {
    padding: 15px;
    width: 250px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    margin-top: 2px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}


.formRegistro input:focus {
    border: 1px solid #d3ad7f;
}

.formRegistro label {
    font-size: 14px;
    font-weight: 600;
}

.formRegistro a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.button .btn {
    width: 282px;
}

.btn {
    background-color: #d3ad7f;
    text-align: center;
    color: #fff;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;

}

.btn:hover {
    transform: scale(1.05);
    background-color: #d3ad7f;

}